# OS生成ファイル
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE/エディタ設定ファイル
.vscode/
.idea/
*.suo
*.user
*.sln.docstates
*.code-workspace

# ログファイル
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ローカル環境変数ファイル (もしルートに置く場合)
# .env
# .env.local
# .env.*.local

# その他の一時ファイルなど
.AppleDouble
.LSOverride
*.tmp
*.bak
*.swp
*~
