# Web フレームワーク
fastapi
uvicorn[standard]

#FastAPI のファイル受け取り用
python-multipart 

#.env ロード用         
python-dotenv            
requests

# OpenAI・AWS Polly
openai
boto3

# GCP クライアント
google-cloud-storage>=2.0.0
google-cloud-firestore>=2.0.0
google-api-python-client>=2.0.0